@model RepositoryCommitModel
@{
    ViewBag.Title = Resources.Repository_Commit_Detail;
    Layout = "~/Views/Repositories/_RepositoriesLayout.cshtml";
}

@if (Model != null)
{
    <div>
        @await Html.PartialAsync("_Commit", Model)

        <div class="changes">
            <h3>@Html.DisplayNameFor(m => m.Changes)</h3> 
            @foreach (var item in Model.Changes)
            {
                @await Html.PartialAsync("_HeaderForDiff", item)
            }
        </div>

        <div class="diff">
            <h3>@Resources.Repository_Commit_Details</h3>
            @foreach (var item in Model.Changes.Where(i => i.Status is LibGit2Sharp.ChangeKind.Modified or LibGit2Sharp.ChangeKind.Added))
            {
                <div class="blob" id="@("change-"+ item.ChangeId)">
                    <div class="controls">
                        @await Html.PartialAsync("_HeaderForDiff", item)
                    </div>
                    <pre><code class="language diff">@item.Patch</code></pre>
                </div>
            }
        </div>
    </div>
}

@section scripts
{
    <script>hljs.configure({ tabReplace: '    ' }); hljs.initHighlightingOnLoad();</script>
}